attrs
backcall
bleach
boto3
botocore
certifi
chardet
colorama
cycler
decorator
defusedxml
docutils
entrypoints
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jmespath
jsonschema
jupyter-client
jupyter-core
keyring
kiwisolver
MarkupSafe
matplot
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
pip
pkginfo
prometheus-client
prompt-toolkit
Pygments
pyloco
pyparsing
pyrsistent
python-dateutil
pytz
flask
pyzmq
readme-renderer
requests
requests-toolbelt
s3transfer
Send2Trash
setuptools
SimpleWebSocketServer
six
terminado
testpath
tornado
tqdm
traitlets
twine
typing
urllib3
ushlex
wcwidth
webencodings
websocket-client
wheel
